#topNav
	section.color-7
		nav.cl-effect-21
			a(href='/postboard') Postboard
			a(href='/music') Music
			a(href='/calendar') Calendar
			a(href='/blog') Blog
#openLeftNav
.hiddenMenu
	#closeLeftNav
		a
			i.icon-remove
	ul.menu
		li.menu-item(rel='0')
			a
				i.icon-share-alt
		li.menu-item(rel='1')
			a
				i.icon-comments-alt 
		li.menu-item(rel='2')
			a
				i.icon-usd
	i.icon-pencil
		| icon-pencil

		

