/* SCAFFOLDING
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ================================================== */
body { background: #fff }
@font-face {
    font-family: "Scout";
    src: url("../fonts/5d6f6edf-0f0d-488c-98c7-1feb4fac533c-2.eot");
    src: local('☺'), url("../fonts/5d6f6edf-0f0d-488c-98c7-1feb4fac533c-3.woff") format("woff"), url("../fonts/5d6f6edf-0f0d-488c-98c7-1feb4fac533c-1.ttf") format("truetype"), url("../fonts/5d6f6edf-0f0d-488c-98c7-1feb4fac533c-4.svg#web") format("svg");
    font-style: normal;
    font-weight: normal;
}
a {
    text-decoration: none;
    text-transform: none;
}
a:hover {
    text-decoration: none;
    text-transform: none;
}
footer p {
    color: #ccc;
    width: 100%;
    text-align: center;
}
#breadcrumb { position: absolute }
.breadcrumb li {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}
.breadcrumb li:hover { color: #000 }
.breadcrumb .active {
    color: #307FB0;
    font-weight: bold;
}
/* lead navigation              */
.header {
    width: 98%;
    float: left;
    margin-left: 30px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu { display: block }
.nav { width: 90% }

.dashboard { float: left }
.logout { float: right!important }
/* left nav             */
#leftNav {
    width: 168px;
    min-height: 600px;
    position: relative;
    float: left;
    padding-left: 0;
    background: #f3f3f3;
    margin-left: 0;
    border-bottom: 1px solid #ddd;
}
#leftNav li {
    width: 130px;
    float: left;
    clear: both;
    font-size: 14px!important;
    color: #333;
    padding: 8px 0 8px 0px;
    line-height: 100%;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Scout','Arial',sans-serif;
    border-top: 1px solid #DBDBDB;
    list-style: none;
    border-left:none;
}
.ui-widget-header p,
.ui-widget-content p { margin: 0 }
.hero-unit {
    border: 3px solid #eee;
    cursor: pointer;
}
.hero-unit:hover {
    border: 3px dashed #B5DAFF;
    background: #ffffff;
}
.hero-unit:hover h1 { color: #666 }
.hero-unit:hover p { color: #666 }
/* CATEGORY STYLES
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ==================================================
   ================================================== */

#designWrapper { width: 1540px }
#director {
    position: relative;
    float: left;
    clear: both;
    width: 1422px;
    background: none;
}
#design {
    width: 1095px;
    height: 700px;
    overflow: auto;
    margin:0;
    border: 1px solid #ccc;
    border-top: none;
}
#board {
    margin:0;
    width: 1080px;
    min-height: 2800px;
    position: relative;
    cursor: crosshair;
    float: left;
    margin-left: 0;
    background: #EDE7DD;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 180px 180px, 180px 180px, 30px 30px, 30px 30px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
#fsscSearch {
    height: 40px;
    font-size: 24px;
    width: 1215px;
    padding: 0.15% .25% 0 .45%;
    float: left;
}
#fsscAdd {
    height: 40px;
    font-size: 24px;
    width: 80%;
    padding: 0.15% .25% 0 .45%;
    float: left;
}
.catFeature {
    position: relative;
    float: left;
    cursor: move;
    overflow: hidden;
    background-color: #29C4B9;
    background-image: linear-gradient(90deg, transparent 100%, white 50%), linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
    background-size: 100% 100%, 100px 100px;
    border-radius: 3px;
    opacity: .6;
}


.catFeature img { width: 100% }
#categoryFeatureSpot img { width: 100% }
#categoryAttributes {
    width: 154px;
    min-height: 600px;
    position: relative;
    float: left;
    text-align: center;
    margin:0;
}
#leftPane {
    width: 91px;
    min-height: 600px;
    position: relative;
    float: left;
    padding-left: 0;
    background: #333333;
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
}
#rightPane {
    width: 40px;
    position: relative;
    float: left;
    margin-left: 0;
}
.ui-widget label {
    margin: 0;
    padding: 0;
}
.brand {
    position: absolute;
    bottom: 0px;
    left: 22px;
    font-size: 12px;
}
ul.nav li a {
    padding: 10px;
    position: relative;
    float: left;
}
span.redNotice,
span.greenNotice {
    font-size: 10px;
    float: left;
    padding: 4px 0;
    color: red;
    font-weight: bold;
}
span.redNotice { color: red }
span.greenNotice { color: green }
.ICtemp {
    right: 0;
    bottom: 0;
}
.intContent {
    display: none;
    background-color: #333333;
    background-image: linear-gradient(90deg, transparent 100%, white 50%), linear-gradient(45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%, transparent 75%, transparent);
    background-size: 100% 100%, 100px 100px;
    border-radius: 3px;
    opacity: .6;
}
#categoryAttributes label {
    color: #888;
    border-bottom: 1px solid #e5e5e5;
    margin: 10px 0;
}
.modalBox {
    width: 660px;
    height: 700px;
    padding: 8px;
    background: rgba(0,0,0,.3);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: absolute !important;
    top: 20% !important;
    left: 40% !important;
    margin-top: -94px !important;
    margin-left: -180px !important;
    z-index: 101;
    display: none;
}
#modalConfig input{
  width: 94%;
  margin: 10px;
  height: 30px;
  font-size: 14px;
  color: #577994;
}
.options li {
  list-style: none;
  display: list-item;
  float: left;
  width: 96%;
  margin-top: -2px;
}
#modalConfig.options #cat_link, #modalConfig.options #cat_img {
  width: 88%;
  float: left;
}
.icon-camera-retro, .icon-link {
  font-size: 2em;
  float:left;
  margin-top: 16px!important;
}

#heading {
    width: 660px;
    height: 44px;
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(233, 233, 233));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#e9e9e9');
    border-bottom: 1px solid #bababa;
    -webkit-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
    -moz-box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
    box-shadow: inset 0px -1px 0px #fff, 0px 1px 3px rgba(0,0,0,.08);
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 44px;
    color: #444444;
    text-shadow: 0px 1px 0px #fff;
}
#content {
    width: 620px;
    height:613px;
    padding: 20px;
    background: #fcfcfc;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
#content p {
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    line-height: 22px;
    color: #555555;
    width: 100%;
    float: left;
    margin: 19px 0;
}
.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.4);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}
.classA {
    width: 4%;
    float:left;
    height: 47px;
}
.classB {
    width: 10%;
    float:left;
    height: 47px;
} 
.classC {
  width: 57px;
  float: left;
  height: 140px;
}
.fsscList {
  height:500px;
  overflow: hidden;
  width: 103%;
  overflow-y: scroll;
}

.catSelector {
  font-size: 9px!important;
  margin:10px;
  background-color:#4687FE!important;
}
.fsscList li {
    list-style: none;
    padding: 3px;
    color: #3F6B8A;
    border-bottom: 1px solid #ccc;
}
.goLive {
  color:#fff;
}

.fsscList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.fsscList li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition:  background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.fsscList li:hover {
background: #E4EFF5;
}
 
.fsscList li:last-child {
  border: none;
}

.fsscList #remove {
  font-size: 22px;
  margin-right: 2px;
padding: 4px;
padding-right: 12px;
}
.fsscList #remove:hover {
  color:red;
}

#createFSSC {
  padding: 11px;
  margin-left: 20px;
  width: 95px;
}
.fsscList li i {
  cursor: pointer;
  float:right;
}
#cat_fssc {
font-size: 20px;
}
#configUpdate {
  color:lightgreen;
  font-size: 14px;
  padding:10px;
  width: 70px;
  float: left;
  display: none;
}

#fsscConfirmation {
  margin:10px;
  height:55px;
  display:none;
}
#contries {
  padding: 4px;
  width: 94px;
  margin-left: -3px;
  height: 100px;
  margin-top: 10px;
}
#contries span{
  float: left;
  width: 20px;
  margin: 1px;
  padding: 4px 4px;
  cursor: pointer;
}
#dp1, #dp2 {
  width: 76px;
  font-size: 12px;
}
.helpBox {
  opacity: 0.5;
  position: absolute;
  top: 4px;
  left: 30%;
  z-index: 1050;
  padding: 6px 10px;
  border-radius: 6px;
  width: 30%;
  color: #fff;
  text-align: center;
}
.saveNotice {
  color:#89CFF5;
  font-size: 2em;
}
.home, .logout {
  color:#999;
}
.home:hover, .logout:hover {
  color:#FFF;
}
#modalAddMap {
  width: 800px!important;
  height: 800px!important;
  margin-left: -240px !important;
}
#modalAddMap #content {
  width: 760px!important;
  height: 715px!important;
}
#modalAddMap #heading {
  width: 800px;
}
#previewCanvas {
  float:left;
  width: 62%;
  height: 100%;
  border: solid 1px #ccc;
}
#previewCanvas canvas {
  width: 100%;
  height: 100%;
}

#mapTools {
  float:left;
  width: 8%;
  height: 100%;
  border: solid 1px #ccc;
}
#productSelector {
  float:left;
  width: 28%;
  height: 100%;
  border: solid 1px #ccc;
  background: #333;
  color: #fff;
}
#productSelector ul {
  margin:0;
}
#productSelector li {
  list-style: none;
  padding: 6px;
  border-bottom: solid 1px #444;
  margin: 0;
}
#productSelector li:hover {
  background:#777;
  color:#999;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
#saveMap {
  width: 61px;
  float: left;
  height: 54px;
  font-weight: bold;
}
.mapTool {
  width: 35px;
  height: 33px;
  background-image: url(../imgs/map_tools_sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 8px 13px;
  cursor: pointer;
}
#navbar {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #333333;
  border-width: 0 0 1px;
  color:#ffffff;
}
.row {
  background: url(../imgs/ricepaper.png) repeat;
}
#mapPoly {
  background-position: 0 0px;
}
#mapRect {
  background-position: -39px 0;
}
#mapDelete {
  background-position: -161px 0;
}
#mapPoly:hover {
  background-position: 0 -33px;
}
#mapRect:hover {
  background-position: -39px -33px;
}
#mapDelete:hover {
  background-position: -161px -33px;
}
#mapPoly.selected {
  background-position: 0 -33px;
}
#mapRect.selected {
  background-position: -39px -33px;
}
#mapDelete.selected {
  background-position: -161px -33px;
}




.categorySwitch {
  position: relative;
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: #333333;
  font-family: 'Yanone Kaffeesatz';
  font-weight: 24px;
  font-size: 36px;
  display: block;
  word-wrap: break-word;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 1px 3px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 1px 3px 0px #333, 0px 9px 25px rgba(0,0,0,.7);
  margin: 100px auto;
  width: 64px;
  text-align: center;
  margin: 2px 0 10px 0;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
.categorySwitch:active {
    -webkit-box-shadow: 0px 3px 0px #000, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #000, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.selected {
  box-shadow: 1px 3px 0px #333, 0px 9px 25px rgba(0,0,0,.7);
}
.selected {
color:#000;
  background-color: #B3B3B3!important;  
}
.goLive {
  margin-left: 5px;
}

/* threshold 1 category grid styles             */
.grid1x1 {
    width: 180px;
    height: 180px;
}
.grid1x2 {
    width: 180px;
    height: 360px;
}
.grid1x3 {
    width: 180px;
    height: 540px;
}
.grid1x4 {
    width: 180px;
    height: 720px;
}
.grid2x1 {
    width: 360px;
    height: 180px;
}
.grid2x2 {
    width: 360px;
    height: 360px;
}
.grid2x3 {
    width: 360px;
    height: 540px;
}
.grid2x4 {
    width: 360px;
    height: 720px;
}
.grid3x1 {
    width: 540px;
    height: 180px;
}
.grid3x2 {
    width: 540px;
    height: 360px;
}
.grid3x3 {
    width: 540px;
    height: 540px;
}
.grid3x4 {
    width: 540px;
    height: 720px;
}
.grid4x1 {
    width: 720px;
    height: 180px;
}
.grid4x2 {
    width: 720px;
    height: 360px;
}
.grid4x3 {
    width: 720px;
    height: 540px;
}
.grid4x4 {
    width: 720px;
    height: 720px;
}

label.position {
  padding:10px;
  float:left;
}

.number {
  font-size: 20px;
  font-weight: bold;
  color:#999;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 14px;
    cursor: pointer;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #999; 
    -webkit-border-radius: 1px;
    border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 4px;
    background: #111; 
    -webkit-box-shadow: inset 0 0 6px #555; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #333; 
}


