@import url('thresholds/mobile.css');
@import url('thresholds/hybrid.css');
@import url('thresholds/desktop.css');
@import url('fonts.css');

body {
	background: #fff;
}

a {
	text-decoration: none;
	text-transform: none;
}
a:hover {
	text-decoration: none;
	text-transform: none;
}
div#wrapper {
	width: 400px;
}

div#header {
	background-image: url(media-queries-phone.jpg);
	height: 93px;
	position: relative;
}

div#header h1 {
	font-size: 140%;
}

#content {
	float: none;
	width: 100%;
}

#navigation {
	float:none;
	width: auto;
}