head(ng-app='myApp')
	include ../sections/scripts
	include ../sections/header
block content
	.container
		img.fbloginimg(src='http://www.ecreativeim.com/blog/wp-content/uploads/2011/05/facebook-like-icon.png')

		a.fblogin(href='/auth/facebook') Login with Facebook
			