//JADE//SCRIPTS//

//css
//link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/site.css')
//link(rel='stylesheet', href='/css/prettify.css')
link(rel='stylesheet', href='/css/bootstrap.css')
link(rel='stylesheet', href='/css/font-awesome_v3.1.0.css')
link(rel='stylesheet', href='/css/jquery-ui-1.10.2.custom.css')
link(rel='stylesheet', href='/css/datepicker.css')

//link(rel='stylesheet', href='/css/jquery.multiselect.filter.css')
//teh js
script(data-main='/js/main', src='/js/require.js')
script(src='/js/html5.js')