//JADE//SCRIPTS//

//css
link(rel='stylesheet', href='/css/styles.css')

//requireJS
script(type='text/javascript', data-main='/js/main', src='/js/require.js')

//jQuery (necessary for Bootstrap's JavaScript plugins) 
script(type='text/javascript', src='/frameworks/jquery-1.10.2/jquery-1.10.2.min.js')

//mozilla brick
link(rel='stylesheet', type='text/css', href='/frameworks/brick-1.0.4/brick-1.0.4beta.css')
script(type='text/javascript', src='/frameworks/brick-1.0.4/brick-1.0.4beta.js')